html {
  font-size: 62.5%;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "quicksandregular";
  src: url("./assets/font/quicksand/quicksand-regular-webfont.woff2")
      format("woff2"),
    url("./assets/font/quicksand/quicksand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: clamp(1.2rem, 2vw, 1.6rem);

  margin: 0;

  font-family: "quicksandregular", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
